:root {
  /*colors*/
  --base-text-color: white;
  --base-accent-color: #f66969;

  /*green*/
  --base-green-color-100: #66f969;
  --base-green-color-200: #327b34;

  /*violet*/
  --base-violet-color-100: #6696f9;
  --base-violet-color-200: #37327b;
}

:root {
  --vt-c-white: #ffffff;
  --vt-c-black: #181818;

  /*background colors*/
  /*--bg-gray: #414141;*/

  /*spaces*/
  --space-none: 0;
  --space-xs: 4px;
  --space-s: 8px;
  --space-base: 12px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 32px;
  --space-xxl: 40px;

  /*font size*/
  --font-size-xs: 10px;
  --font-size-s: 12px;
  --font-size-base: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--vt-c-white);
    --button-color: black;
    --nav-text-color: #66758a;
    --navbar-bg: #f9fafc;
    --main-bg: #ffffff;
    /*hover*/
    --hover-color: #f66969;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --button-color: white;
    --nav-text-color: #88888c;
    --navbar-bg: #26262e;
    --main-bg: #1d1b22;
      /*hover*/
    --hover-color: #ffffff;
  }
}

* {
  font-family: sans-serif;
}

body {
  background: var(--color-background);
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}